* {
    font-family: 'Montserrat', sans-serif;
}
 
 
 .btn btn-secondary{
    justify-content: right;
    align-items: right;
}
#page-content {
    flex: 1 0 auto;
}

.nav{
    background-color: rgb(255, 148, 148);
}

.nav .logo {
    height: 3rem;
}

